@{
    ViewBag.Title = "Home Page";
    Layout = "./_Layout.cshtml";
}
<h3 style="margin-top:0;">개인정보</h3>
      <table class="sub_table" cellspacing="0" cellpadding="0">
      	<col width="15%" />
      	<col width="" />
      	<tr>
        	<th class="list_le">사용자ID</th>
          <td>test</td>
       	</tr>
      	<tr>
        	<th class="list_le">사용자명</th>
          <td>사용자명 <a href=""><img src="/Content/img/btn/btn_list_languages.gif" width="20" height="20" /></a></td>
       	</tr>
      	<tr>
        	<th class="list_le">별명</th>
          <td><input type="text" style="width:96%;" /></td>
       	</tr>
      	<tr>
        	<th class="list_le">지역</th>
          <td>서울</td>
       	</tr>
      	<tr>
        	<th class="list_le">생년월일</th>
          <td><input type="text" style="width:100px;" /><a href=""><img src="/Content/img/btn/btn_list_diary.gif" width="20" height="20" /></a></td>
       	</tr>
      	<tr>
        	<th class="list_le">우편번호</th>
          <td><input type="text" style="width:100px;" /><a href=""><img src="/Content/img/btn/btn_list_search.gif" width="20" height="20" /></a></td>
       	</tr>
      	<tr>
        	<th class="list_le">주소</th>
          <td><p><input type="text" style="width:96%;" /></p><p><input type="text" style="width:96%;" /></p></td>
       	</tr>
      	<tr>
        	<th class="list_le">집전화</th>
          <td>
          	<input type="text" maxlength="3" style="width:40px;" /> -
          	<input type="text" style="width:60px;" /> -
            <input type="text" style="width:60px;" /></td>
       	</tr>
			</table>
      <!--리스트 하단버튼영역,board.css-->
      <div class="foot_btn">
      	<div class="ri">
        	<div class="btn"><a href=""><span><img src="/Content/img/btn/btn_save.gif" width="30" height="30" /></span><p>저장</p></a></div>
        </div>
      </div>
      <!--//리스트 하단버튼영역-->

      <h3>비밀번호 수정</h3>
      <table class="sub_table" cellspacing="0" cellpadding="0">
      	<col width="15%" />
      	<col width="" />
        <tr>
        	<th class="list_le">기존비밀번호</th>
          <td><input type="password" style="width:200px;" /></td>
				</tr>
        <tr>
        	<th class="list_le">새비밀번호</th>
          <td><input type="password" style="width:200px;" /></td>
				</tr>
        <tr>
        	<th class="list_le">새비밀번호 확인</th>
          <td><input type="password" style="width:200px;" /></td>
				</tr>
			</table>
      <!--리스트 하단버튼영역,board.css-->
      <div class="foot_btn">
      	<div class="ri">
        	<div class="btn"><a href=""><span><img src="/Content/img/btn/btn_modify.gif" width="30" height="30" /></span><p>수정</p></a></div>
        </div>
      </div>
      <!--//리스트 하단버튼영역-->
