@{
    MVC4Base.Models.UserInfo userInfo = MVC4Base.Services.AuthService.UserInfomation;   
}
<ul class="top_info">
    <li class="none_bg">
    @using (Html.BeginForm("LogOff", "Member", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">
            <img src="/Content/img/btn/ko-kr/logout.gif" width="55" height="16" class="logout" alt="로그아웃"/>
        </a>
    }
    </li>
    <li class="none_bg"><a href="@Url.Action("Index","Admin")">관리자</a></li>
    <li><a href="#none">환경설정</a></li>
    <li><a href="#none">직원검색</a></li>
</ul>
