@{
    MVC4Base.Models.UserInfo userInfo = MVC4Base.Services.AuthService.UserInfomation;   
}
<!--TOP MENU 2단메뉴-->
<div class="top_menu">
    <table cellpadding="0" cellspacing="0">
        <col width="16%" />
        <col width="16%" />
        <col width="16%" />
        <col width="17%" />
        <col width="17%" />
        <col width=" " />
        <tr>
            <td id="td01" onmouseover="top_subMenu_show('01'); title_Over('01', this);" onmouseout="top_subMenu_hide('01'); title_Nomal('01', this,false);">
                <a href="">Top01</a>
                <div id="top_subMenu01" class="top_subMenu" style="left: 195px; display: none;" onmouseover="top_subMenu_show('01');"
                    onmouseout="top_subMenu_hide('01');">
                    <ul class="top_sub">
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                    </ul>
                </div>
            </td>
            <td id="td02" onmouseover="top_subMenu_show('02'); title_Over('02', this);" onmouseout="top_subMenu_hide('02'); title_Nomal('02', this,false);">
                <a href="">Topmenu002</a>
                <div id="top_subMenu02" class="top_subMenu" style="left: 180px; display: none;" onmouseover="top_subMenu_show('02');"
                    onmouseout="top_subMenu_hide('02');">
                    <ul class="top_sub">
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                    </ul>
                </div>
            </td>
            <td id="td03" onmouseover="top_subMenu_show('03'); title_Over('03', this);" onmouseout="top_subMenu_hide('03'); title_Nomal('03', this,false);">
                <a href="">Menu03</a>
                <div id="top_subMenu03" class="top_subMenu" style="left: 360px; display: none;" onmouseover="top_subMenu_show('03');"
                    onmouseout="top_subMenu_hide('03');">
                    <ul class="top_sub">
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                    </ul>
                </div>
            </td>
            <td id="td04" onmouseover="top_subMenu_show('04'); title_Over('04', this);" onmouseout="top_subMenu_hide('04'); title_Nomal('04', this,false);">
                <a href="">메뉴04</a>
                <div id="top_subMenu04" class="top_subMenu" style="left: 440px; display: none;" onmouseover="top_subMenu_show('04');"
                    onmouseout="top_subMenu_hide('04');">
                    <ul class="top_sub">
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                    </ul>
                </div>
            </td>
            <td id="td05" onmouseover="top_subMenu_show('05'); title_Over('05', this);" onmouseout="top_subMenu_hide('05'); title_Nomal('05', this,false);">
                <a href="">Topmenu05</a>
                <div id="top_subMenu05" class="top_subMenu" style="right: 30px; _left: 500px; display: none;"
                    onmouseover="top_subMenu_show('05');" onmouseout="top_subMenu_hide('05');">
                    <ul class="top_sub">
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                    </ul>
                </div>
            </td>
            <td id="td06" onmouseover="top_subMenu_show('06'); title_Over('06', this);" onmouseout="top_subMenu_hide('06'); title_Nomal('06', this,false);">
                <a href="">Topmenu06</a>
                <div id="top_subMenu06" class="top_subMenu" style="right: 0; _left: 500px; display: none;"
                    onmouseover="top_subMenu_show('06');" onmouseout="top_subMenu_hide('06');">
                    <ul class="top_sub">
                        <li><a href="">submenu0011</a></li>
                        <li><a href="">submenu0012</a></li>
                        <li><a href="">submenu0013</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
<!--//TOP MENU 2단메뉴-->
