@{
    MVC4Base.Models.UserInfo userInfo = ((MVC4Base.Services.AuthService)Spring.Context.Support.ContextRegistry.GetContext().GetObject("AuthService", typeof(MVC4Base.Services.AuthService))).UserInfomation;   
}
<!--TOP MENU 2단메뉴-->
<div class="top_menu">
    <table cellpadding="0" cellspacing="0">
        <col width="16%" />
        <col width="16%" />
        <col width="16%" />
        <col width="17%" />
        <col width="17%" />
        <col width=" " />
        <tr>
            <td id="td01" onmouseover="top_subMenu_show('01'); title_Over('01', this);" onmouseout="top_subMenu_hide('01'); title_Nomal('01', this,false);">
                <a href="">소개</a>
                <div id="top_subMenu01" class="top_subMenu" style="left: 195px; display: none;" onmouseover="top_subMenu_show('01');"
                    onmouseout="top_subMenu_hide('01');">
                    <ul class="top_sub">
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                    </ul>
                </div>
            </td>
            <td id="td02" onmouseover="top_subMenu_show('02'); title_Over('02', this);" onmouseout="top_subMenu_hide('02'); title_Nomal('02', this,false);">
                <a href="">개발자 가이드</a>
                <div id="top_subMenu02" class="top_subMenu" style="left: 180px; display: none;" onmouseover="top_subMenu_show('02');"
                    onmouseout="top_subMenu_hide('02');">
                    <ul class="top_sub">
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                    </ul>
                </div>
            </td>
            <td id="td03" onmouseover="top_subMenu_show('03'); title_Over('03', this);" onmouseout="top_subMenu_hide('03'); title_Nomal('03', this,false);">
                <a href="">게시판</a>
                <div id="top_subMenu03" class="top_subMenu" style="left: 360px; display: none;" onmouseover="top_subMenu_show('03');"
                    onmouseout="top_subMenu_hide('03');">
                    <ul class="top_sub">
                        <li><a href="">submenu001</a></li>
                        <li><a href="">submenu002</a></li>
                        <li><a href="">submenu003</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
<!--//TOP MENU 2단메뉴-->
