@{
    MVC4Base.Models.UserInfo userInfo = ((MVC4Base.Services.AuthService)Spring.Context.Support.ContextRegistry.GetContext().GetObject("AuthService", typeof(MVC4Base.Services.AuthService))).UserInfomation;
    string strMessage = ((MVC4Base.Services.DebugWindowService)Spring.Context.Support.ContextRegistry.GetContext().GetObject("DebugWindowService", typeof(MVC4Base.Services.DebugWindowService))).Print();
}
        @{ if (Request.IsLocal){
             
            <div style="position: absolute; z-index: 100000000; top: 0; right: 0; background-color: #000000;
                border: 1px solid #333333; color: #ffffff">
                <div id="debugWindow" style="background-color: #ffffff; color:Black; padding: 10px 10px 10px 10px;
                    width: 500px; height: 500px; font-size: 10pt; display: none; text-align: left;
                    overflow: scroll;">
                    @Html.Raw(strMessage)
                </div>
                <input type="button" onclick="showDebugXml()" style="font-size:10pt;background-color: Black; color: white; height:30px;border:0 solid #ffffff"
                    value="열기"/>
                |
                <input type="button" onclick="hideDebugXml()" style="font-size:10pt;background-color: Black; color: white; height:30px;border:0 solid #ffffff"
                    value="닫기"/>
                <script type="text/javascript">
                    <!--
                    function showDebugXml() {
                        $('div[id="debugWindow"]').show(1, null);
                    }
                    function hideDebugXml() {
                        $('div[id="debugWindow"]').hide(1, null);
                    }
                    // -->
                </script>
            </div>
           }
          }
