@{
    MVC4Base.Models.UserInfo userInfo = ((MVC4Base.Services.AuthService)Spring.Context.Support.ContextRegistry.GetContext().GetObject("AuthService", typeof(MVC4Base.Services.AuthService))).UserInfomation;    
}
<!--사용자 로그인 정보-->
<table class="my_info" cellspacing="0" cellpadding="0">
    <tr>
        <td class="my_info_t01">
        </td>
        <td class="my_info_t02">
        </td>
        <td class="my_info_t03">
        </td>
    </tr>
    <tr>
        <td class="my_info_le">
            &nbsp;
        </td>
        <td class="my_info">
            <dl>
                <dt>
                    <p>
                        <b>@userInfo.UserName</b>(@userInfo.UserID)</p>
                </dt>
                <dd>
                    <a href="" class="ico01">결재할 문서</a><img src="/Content/img/common/new.gif" width="9"
                        height="9" />
                    <span class="my_info_num"><em>2</em>건</span></dd>
                <dd>
                    <a href="" class="ico02">메모보고</a><img src="/Content/img/common/new.gif" width="9"
                        height="9" />
                    <span class="my_info_num"><em>72</em>건</span></dd>
                <dd>
                    <a href="" class="ico03">결재중인 문서</a> <span class="my_info_num"><em>2</em>건</span></dd>
                <dd>
                    <a href="" class="ico04">읽지않은 메일</a><img src="/Content/img/common/new.gif" width="9"
                        height="9" />
                    <span class="my_info_num"><em>2</em>건</span></dd>
                <dd>
                    <a href="" class="ico05">접수대기</a><img src="/Content/img/common/new.gif" width="9"
                        height="9" />
                    <span class="my_info_num"><em>2</em>건</span></dd>
                <dd>
                    <a href="" class="ico06">배부대기</a><img src="/Content/img/common/new.gif" width="9"
                        height="9" />
                    <span class="my_info_num"><em>2</em>건</span></dd>
            </dl>
        </td>
        <td class="my_info_ri">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="my_info_f01">
        </td>
        <td class="my_info_f02">
        </td>
        <td class="my_info_f03">
        </td>
    </tr>
</table>
<!--//사용자 로그인 정보-->
