@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">죄송합니다. 작업도중 에러가 발생했습니다.</h1>
    <h2 class="error">빠른 시일내에 복구하도록 하겠습니다.</h2>
</hgroup>
