@{
    ViewBag.Title = "Home Page";
}
<h3>메인 페이지</h3>
<ol class="round">
    <li class="one">
        <h5>하나</h5>
        MVC4 예제 페이지를 만들었다.
    </li>

    <li class="two">
        <h5>둘</h5>
        스프링을 적용했다.
    </li>
</ol>
